* {
    color: #fff;
    /*font-size: 16px;
    font-weight: 300;*/
    box-sizing: border-box;
    font-family: 'Metrophobic', Arial, serif;
    /*font-weight: 400;*/
    color: #000000;
}

body {
    background-color: #323232;
    
}

header, nav, section, aside, footer {
    text-align: center;
    background-color: #666666;
    border-radius: 5px;
    padding: 5px;
}

header, nav, footer {
    width: 100%;
}

h1 {
    margin: 0;
}

nav {
    width: 25%;
}

section {
    float: left;
    width: 75%;
    
}

header {
    text-align: left;
    background-color: #01ffe0;
  
}
header marquee {
    background-color: #949090;
}

    header p {
        font-size: 32px;
    }

    section header, section article, section footer {
        width: 100%;
        background-color: #999999;
        border-radius: 5px;
        margin: 0;
       
    }

    section article {
        margin: 25px 0;
    }

nav {
    float: left;
}

aside {
    float: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 50px;
    width: 100px;
}

    nav li:first-child {
        margin-left: 0;
    }

footer {
    clear: both;
}





/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
