* {
  
    /*font-size: 16px;
    font-weight: 300;*/
    box-sizing: border-box;
    font-family: 'Metrophobic', Arial, serif;
    /*font-weight: 400;*/
    color: #c2c2c2;
}

body {
   background-color:black;
}

header, nav, section, aside, footer {
    /*text-align: center;*/
   
    border-radius: 5px;
    padding: 10px;
}

header, nav, footer {
    width: 100%;
}

h1 {
    margin: 0;
}

nav {
    width: 15%;
    text-align: left;
    margin-top: 10px;
    background-image: url('fondonav.jpg');
}

section {
    float: right;
    width: 85%;
    text-align: left;
    /*margin-left: 15px;*/
    margin-top: 10px;
    background-image: url('maroon-speckled-paper-texture.jpg');
}

header {
    text-align: center;
    background-image: url('fondoheader.jpg');
}
header marquee {
    background-color: #949090;
}

    header p {
        font-size: 32px;
    }

    section header, section article, section footer {
        width: 100%;
        background-color: #d0d0d0;
        border-radius: 5px;
        margin: 0;
       
    }

    section article {
        margin: 25px 0;
    }

nav {
    float: left;
    
}


nav table {
    text-align: center;
    margin-left: 50px;
}

section table {
        text-align: center;
        margin-left: 50px;
        border-color: black;
        border-width: 3px;
}


footer {
    clear: both;
    text-align: center;
    background-color: #837f7f;
}

nav td {
    background-color: darkslateblue;
}


/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
