
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p align= "center"> Bienvenido a la pagina de la veterinaria. Por favor elija que desea administrar en la solapa de la izquierda.</p>

<p align="center"><img src="~/Content/1521220872_083621_1522146473_noticia_normal.jpg" width="1200" height="600" /></p>



Si se desea consultar horarios clic aqui >> <a href="/Turno/CReserva"> Reservas Realizadas </a>


