<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title  Veterinaria</title>
    <link href="~/Content/SiteHome.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/AcordeonJs.js"></script>






</head>
<body>
    <header>
        <a href="/Home/Index"><img src="~/Content/75-758641_home-logo-wwwpixsharkcom-images-galleries-with-a-bite.png" width="35" height="35" align="left" /></a> <h1>Veterinaria Pupies</h1>

        <marquee>Atencion personalizada. Abierto 24Hs los 7 dias de la semana</marquee>


    </header>

    <nav>

        <div id="accordion">

            <button class="accordion">  <h3>Catalogo de Acciones</h3> </button>
            <div class="panel">

                <table border="1">

                    <tr><td><p> <a href="/Cliente/Index">Administrar Cliente</a></p></td></tr>
                    <tr><td><p><a href="/Doctor/Index">Administrar Doctor</a></p></td></tr>
                    <tr><td><p><a href="/Paciente/Index">Administrar Paciente</a></p></td></tr>
                    <tr><td><p><a href="/HistorialPaciente/Index"> Administrar Historial Paciente</a></td></p></tr>
                    <tr><td><p><a href="/Producto/Index">Administrar Producto</a></p></td></tr>
                    <tr><td><p><a href="/FacturaProducto/Index"> Administrar Factura Producto</a></p></td></tr>
                    <tr><td><p><a href="/FacturaServicio/Index"> Administrar Factura Servicio</a></p></td></tr>
                    <tr><td><p><a href="/Atencion/Index"> Administrar Atencion</a></p></td></tr>
                    <tr><td><p><a href="/Sala/Index"> Administrar Sala</a></p></td></tr>
                    <tr><td><p><a href="/Turno/Index"> Administrar Turno</a></p></td></tr>

                </table>

            </div>


        </div>


    </nav>

    <section>
        @RenderBody()
    </section>

    <aside>

        @*<img src="~/Content/Promo-Facebook2.png" width="200" height="200" />
            <img src="~/Content/CHAMPU.jpg" width="200" height="200" />*@

        <strong>Ofertas exclusivas de este mes: </strong>
        <marquee>
            <img src="~/Content/Promo-Facebook2.png" width="600" height="300" />
            <img src="~/Content/CHAMPU.jpg" width="600" height="300" />

        </marquee>
        <strong> Ofertas del proximo mes:</strong>
        <marquee>
            <img src="~/Content/p1.jpg" width="600" height="300" />
        </marquee>


    </aside>

    <footer>
        @*<img src="~/Content/lvp.logo-soyvet-1.png" width="20" height="20" />*@ Derechos reservados por Puppies SA ~ 2019
    </footer>

    <script>

        //$(function () {
        //    $("#accordion").accordion();
        //});



        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

    </script>

    <style>
        .panel {
            padding: 0 18px;
            background-color: blue;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        .accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
    </style>

</body>
</html>