
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form action="~/Views/Cliente/Update.cshtml" method="post">
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
    <input type="text" name="Email" id="Email" value="@Model.Email" /><br />
    <input type="text" name="Nombre" id="Nombre" value="@Model.Nombre" /><br />
    <input type="submit" name="Submit" value="edit" />
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
