
@{
    ViewBag.Title = "Update";
}

@model Vet.Domain.Sala


<form action="~/Views/Sala/Update.cshtml" method="post">
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
    <input type="text" name="Localizacion" id="Localizacion" value="@Model.Localizacion" /><br />
    <input type="text" name="Nombre" id="Nombre" value="@Model.Nombre" /><br />
    <input type="submit" name="Submit" value="edit" />
</form>